# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Render / deployment temp files
*.pyc
